h2{
  padding: 1rem;
  color: green; /* #620000 */
  text-shadow: 1px 1px rgb(98,0,0);
}
button{
  padding: 1rem;
  color: white; /* white */
  background: #f87666; /* #e72929 */
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  opacity: 0.8;
  justify-self: center;
}

button:hover{
  opacity: 1;
  cursor: pointer;
}
button {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }
  20%, 40%, 60%, 80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}
.message {
    animation: run 2s linear;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }

  @keyframes run {
    from { left: -100%; }
    to { left: 100%; }
  }